---
import '../styles/global.css';

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Social from '../components/Social.astro';
import Hamburguer from '../components/Hamburguer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Página de inicio';

---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>
